body {
    text-align: center;
    background-color: lightgray;
}

textarea {
    width: 100%;
}

#message_box {
    height: 400px;
    width: 100%;
    border: 2px solid;
    border-color: black;
    overflow: scroll;
}
div {
    background-color: lightyellow;
}

.col-md-4 {
    border: 2px solid;
    border-color: lightgray;
}